html {
    background-color: #1c1c1c;
    color: white;
    font-family: sans-serif;
}

body, html{
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.centering {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#server {
    opacity: 0;
    transition-duration: .2s;
}

#server.visible {
    opacity: 1;
}

#progress {
    position: fixed;
    bottom: 0;
    left: 0;
    height: .3rem;
    width: 0;
    background-color: aqua;
    box-shadow: cyan 0 0 20px 0;

    transition-duration: 3s;
}

#progress.full {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    transition-duration: .3s;
    border-bottom: 1px solid #1c1c1c;
}

a:hover {
    border-bottom: 1px solid white;
}
